@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Grayish-Blue: rgb(72, 85, 106);
  --Desaturated-Dark-Blue: rgb(109, 127, 151);
  --Grayish-Blue: rgb(158, 175, 194);
  --Light-Grayish-Blue: rgb(236, 242, 248);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Manrope", sans-serif;
  max-width: 100%;
  background-color: var(--Light-Grayish-Blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: calc(100% - 48px);
  max-width: 400px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.main-image-container {
  height: 200px;
  background-image: url(./images/drawers.jpg);
  background-position-x: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h1 {
  color: rgb(97 99 122);
  font-size: 16px;
  width: calc(100% - 27px);
  padding-left: 32px;
  margin-top: 38px;
  margin-bottom: 14px;
  font-weight: 800;
}

.content-paragragh {
  color: rgb(116 125 130);
  width: calc(100% - 35px);
  padding-left: 32px;
  font-size: 13px;
  font-weight: 600;
}

.profile-container {
  margin-top: 30px;
  padding-inline: 32px;
  height: 64px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.profile-image-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profile-details {
  font-size: 14px;
}

.profile-name {
  color: rgb(97 99 122);
  font-weight: 700;
}

.profile-date {
  color: rgb(171 178 184);
  font-weight: 600;
}

.preview-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  gap: 21px;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 64px;
  padding-left: 32px;
  transform: translateX(-100%);
  transition: transform 200ms ease-in-out;
}

.preview-container-transform {
  transform: translateX(0%);
}

.preview-container > p {
  color: var(--Grayish-Blue);
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 14px;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 17px;
  align-items: center;
  list-style: none;
}

.socials-container > li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.socials-container > li:hover {
  transform: scale(1.3);
}

button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--Light-Grayish-Blue);
  position: relative;
  z-index: 999;
  transition: all 200ms ease-out;
}

.button-transform {
  transform: rotate(360deg);
  background-color: var(--Desaturated-Dark-Blue);
}

.button-transform path {
  fill: white;
}

.desktop-preview-container {
  display: none;
}

@media screen and (min-width: 399px) {
  .main-image-container {
    height: 215px;
    background-position-y: 45%;
  }
}

@media screen and (min-width: 865px) {
  main {
    display: flex;
    width: 730px;
    max-width: unset;
    overflow: unset;
  }

  .main-image-container {
    width: 285px;
    height: unset;
    background-position-x: left;
    background-position-y: center;
    border-radius: 10px;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
  }

  .content-container {
    padding-right: 40px;
    width: 445px;
  }

  h1 {
    padding-left: 40px;
    width: 100%;
    font-size: 21px;
    margin-top: 36px;
    margin-bottom: 16px;
  }

  .content-paragragh {
    padding-left: 40px;
    width: 100%;
  }
  .profile-container {
    padding-left: 40px;
    padding-right: unset;
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .preview-container {
    display: none;
  }

  .desktop-preview-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    gap: 21px;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 8px;
    left: 63%;
    bottom: 135%;
    width: 248px;
    height: 53px;
    padding-left: 37px;
    transition: transform 200ms ease-in-out, opacity 200ms ease-out;
    z-index: 9;
    transform: translateY(50px);
    opacity: 0;
  }

  .desktop-preview-container-transform {
    transform: translateY(0px);
    opacity: 1;
  }

  .desktop-preview-container::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 55%;
    bottom: -21px;
    background-color: var(--Very-Dark-Grayish-Blue);
    transform: rotate(45deg) translateX(-91%);
    z-index: -1;
  }

  .desktop-preview-container > p {
    color: var(--Grayish-Blue);
    letter-spacing: 6px;
    font-weight: 500;
    font-size: 13px;
  }

  .desktop-preview-container .socials-container {
    gap: 15px;
  }
}
